header{
    position: relative;

    .top-line{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;
        padding: $base-line-height 0;
        @extend %animated-transform;
        .btn-box{
            text-align: right;
        }
        figure{
            margin-bottom: 0;
        }

        body.sticky &{
            padding: 12px 0;
            background-color: $secondary;
        }
    }
    .claim{
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 1;

        &:before{
            content: "";
            position: absolute;
            background: url('../images/claim.jpg')no-repeat center center/cover;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &:after{
            content: "";
            position: absolute;
            background: $primary;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0.9;
            z-index: -1;
        }
        i{
            &.fas{
                position: absolute;
                bottom: $base-line-height;
                left: 50%;
                transition: translateX(-50%);
                color:$light;
                font-size: 20px;
                line-height: 32px;
                animation: move-top-bottom 2.5s infinite;
                animation-delay: 1s;
            }
        }

        .claim-cont{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 150px 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            blockquote{
                text-align: center;
                padding: 0 $base-line-height;
                color: $light;
                max-width: 800px;
                strong{
                    display: block;
                    font-size: 50px;
                    line-height: 62px;
                    font-weight: 700;
                    margin-bottom: 25px;
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.7;
                    margin-bottom: 60px;
                    &.highlight{
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 42px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

main{
    background-color: $medium;
    .teaser{
        padding: 100px 0 154px;
        .teaser-box{
            display: block;
            text-align: center;
            position: relative;
            padding-top: 54px;
            @extend %animated-transform;
            z-index: 1;

            &:hover,
            &:active,
            &:focus{
                .title{
                    top: calc(50% + 27px);
                    transform: translate(-50%, -50%);
                    color: $light;
                }
                .img-box{
                    figure{
                        img{
                            opacity: 0.35;
                        }
                    }
                }
            }

            .img-box{
                position: relative;
                height: 300px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: $dark;
                    z-index: -1;
                }
                figure{
                    height: 100%!important;
                    img{
                        height: 100%;
                        width: 100%;
                        @extend %animated-transform;
                        box-shadow: 0 0 40px rgb(0 0 0 / 50%);
                    }
                }
            }
            .title{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: none;
                color: $secondary;
                font-size: 20px;
                line-height: 32px;
                width: 100%;
                font-weight: 700;
                @extend %animated-transform;
                z-index: 1;
            }
        }
    }
    .section{
        padding: 100px 0 128px;
    }
    #table{
        
        display: flex;
        flex-direction: column;
        background-color: white;
        background-clip: border-box;
        position: relative;
        @extend .margin-bottom;
        width: 100%;
        border: 1px solid transparent;
        box-shadow: 0 0.76rem 1.52rem rgb(18 38 63 / 3%);
        border-radius: 0.30rem;
        .table-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 18px;
            border-bottom: 3px solid $medium;
            span{
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
            }
            .btn{
                padding: 6px 12px;
            }
        }
        .table-legend,
        .row-result{
            padding: 18px 24px;
            border-bottom: 1px solid $medium;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        &.inc-t{

            .table-legend,
            .row-result{
                span{
                    text-align: center;
                    &.name{
                        min-width: 60%;
                        text-align: left;
                    }
                    &.type{
                        min-width: 20%;
                    }
                    &.price{
                        min-width: 20%;
                    }
                }
            }
            &.crud{
                .table-legend,
                .row-result{
                    span{
                        text-align: center;
                        &.name{
                            min-width: 50%;
                            text-align: left;
                        }
                        &.type{
                            min-width: 20%;
                        }
                        &.price{
                            min-width: 19%;
                        }
                    }
                    .dlt{
                        padding: 7px 12px;
                    }
                }
            }
        }
        &.usr-t{
            .table-legend,
            .row-result{
                span{
                    
                    text-align: center;
                    &.name,
                    &.fname,
                    &.dob{
                        min-width: 32%;
                    }
                    &.name,&.fname{
                        text-align: left;
                    }
                    &.rating{
                        min-width: 10%;
                    }
                }
            }
            &.crud{
                .table-legend,
                .row-result{
                    span{
                        text-align: center;
                        &.name,
                        &.fname,
                        &.dob{
                            min-width: 28%;
                        }
                        &.name,&.fname{
                            text-align: left;
                        }
                        &.rating{
                            min-width: 5%;
                        }
                    }
                    .dlt{
                        padding: 7px 12px;
                    }
                }
            }
        } 
        &.cnt-t{
            .table-legend,
            .row-result{
                span{
                    text-align: center;
                    &.sup,
                    &.vp{
                        min-width: 15%;
                        text-align: center;
                    }
                    &.details{
                        min-width: 26%;
                        word-break: break-all;
                    }
                    &.cid,
                    &.iid,
                    &.duration{
                        min-width: 15%;
                    }
                }
            }
            &.crud{
                .table-legend,
                .row-result{
                    span{
                        text-align: center;
                        &.sup,
                        &.vp{
                            min-width: 16%;
                            text-align: center;
                        }
                        &.details{
                            min-width: 22%;
                            word-break: break-all;
                        }
                        &.cid,
                        &.iid{
                            min-width: 14%;
                        }
                        &.duration{
                            min-width: 8%;
                        }
                    }
                    .dlt{
                        padding: 7px 12px;
                    }
                }
            }
        }  
    }
}
// globals

body{
    position: relative;
    .preload{
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba($dark, .9);
            z-index: 9999999999; 
        }
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 80px;
            width: 80px;
            background: url('/assets/images/loader.svg')no-repeat center center/cover;
            z-index: 9999999999;
        }
    }
}

.row{
    &.space-row{
        justify-content: space-between;
    }
    &.align-center{
        align-items: center;
    }
    &.j-center{
        justify-content: center;
    }
    &.end{
        justify-content: flex-end;
    }
}

//btn-s

.btn{
    background-color: $alert;
    color: $light;
    text-transform: uppercase;
    padding: 10px 18px;
    font-weight: 700;
    @extend %animated-transform;

    &:hover,
    &:active,
    &:focus{
        color: $light;
        background-color: $dark;

        header &{
            background-color: $light;
            color: $alert;
        }
    }
    &.logout{
        position: fixed;
        bottom: 18px;
        left: 50%;
        width: auto;
        min-width: 300px;
        transform: translateX(-50%);
        display: inline-block;

        &:hover,
        &:active,
        &:focus{
            color: $light;
            background-color: $dark;
        }
    }
}

span{
    &.break{
        display: block;
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
}
strong, b{
    font-weight: 700;
}
figure {
    display: block;
    width: 100%;
  
    &.object-fit {
        display: block;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        height: auto!important;

        img {
        max-height: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;      
        }
    }
}
h1{
   margin-bottom: 53px; 
}

table{
    margin-bottom: 0px!important;
    border-collapse: separate;
    thead{
        tr{
            th{
                font-size: 12px!important;
                line-height: 18px;
            }
        }
    }
    tbody{
        
        tr{
            position: relative;
            &:last-child{
                border-bottom: 0;
                td{
                    border-bottom: 0;
                }
            }
        }
        .fixed{
            position: absolute;
            top: 50%;
            right: $base-gap;
            transform: translateY(-50%);
            padding: 0;
            [data-btn=delete]{
                padding: 7px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 12px;
                    line-height: 1em;
                }
            }
        }
    }
}
// todo: loader 100% : 100%