<div id="navigation-credentials" class="fixed-bottom">
    <ul class="navi-cred">
        <li class="incurence-create">
            <a href="/pages/insurence/create.html#create-insurence-form" title="incurence-create">Incurence</a>
        </li>
        <li class="customer-create">
            <a href="/pages/customer/create.html#create-client-form" title="customer-create">Customer</a>
        </li>
        <li class="contract-create">
            <a href="/pages/contract/create.html#create-contract-form" title="contract-create">Contract</a>
        </li>
    </ul>
</div>